@media (min-width: 0px) and (max-width: 320px) {

    .left-column {
        margin: 0;
        width: 99%;
    }

    .right-column {
        margin: 0;
        width: 99%;
    }

    /***LOGO***/
    .logo {
        padding: 0;
        margin-left: 40px;
    }

    .big-round {
        width: 143px;
        height: 143px;
        border-radius: 142px;

    }

    .big-circle {
        width: 174px;
        height: 173px;
        border-radius: 175px;
    }

    /***ABOUT***/
    .name {
        font-size: 40px;
    }

    .surname {
        font-size: 42px;
        margin-top: 5px;
    }

    .job {
        font-size: 18px;
    }

    .text {
        font-size: 15px;
        margin-left: 15px;
    }

    /***PROFILE***/
    .profile-line {
        display: none;
    }

    .profile-name {
        font-size: 40px;
        padding-left: 5px;
    }

    .profile-logo {
        margin-left: 15px;
    }

    /***CONTACT***/
    .contact-line {
        display: none;
    }

    .contact-name {
        font-size: 40px;
        padding-left: 5px;
    }

    .contact-logo {
        margin-left: 15px;
    }

    .contact-table {
        margin-left: 15px;
    }

    .left-row {
        text-transform: uppercase;
        color: #3d6cb0;
        font-size: 18px;
        padding: 10px 0px;

    }

    .right-row {
        font-size: 18px;
        padding: 15px;
    }

    /***SKILLS***/
    .skills-line {
        display: none;
    }

    .skills-name {
        font-size: 40px;
        padding-left: 5px;
    }

    .skills-logo {
        margin-left: 15px;
    }

    .skill-title {
        font-size: 24px;
        margin-left: 10px;
    }

    .skill-point-on {
        height: 15px;
        width: 15px;
        margin-right: 4px;
    }

    .skill-point-off {
        height: 15px;
        width: 15px;
        margin-right: 4px;
    }

    .point-black {
        height: 15px;
        width: 15px;
    }

    .skill-creative > ul,
    .skill-teamwork > ul,
    .skill-innovate > ul,
    .skill-communication > ul {
        padding-left: 5px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 992px) {

}

@media (min-width: 993px) and (max-width: 1200px) {

}