html {
    font-size: 16px;
}
.left-column {
    float: left;
    margin-left: 69px;
    margin-top: 67px;
    width: 34.46%;
   /* border: 1px solid #3d6cb0; */

}
.big-round {
    width: 223px;
    height: 223px;
    background: #3d6cb0;
    border-radius: 222px;
    margin: 15px;


}
.big-circle {
    width: 254px;
    height: 253px;
    border-radius: 255px;
    border: 1px solid #3d6cb0;
    margin: 21px  0 0 10px ;


}
.logo {
    padding-left: 89px;
    margin-bottom: 27px;

}
.name {
    font-size: 60px;
    text-align: center;
    margin: 0 0 -21px -4px;
    letter-spacing: -1px;
}
.surname {
    font-size: 66px;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
}
.job {
    font-size: 27px;
    text-align: center;
}
